{{- if .Values.oidc.enabled -}}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "library-chart.fullname" . }}-oidc-empty-secret
  labels:
    {{- include "library-chart.labels" . | nindent 4 }}
data:
  # Empty client-secret file for oauth2-proxy PKCE public client workaround
  # See: https://github.com/oauth2-proxy/oauth2-proxy/issues/1714
  client-secret: ""
{{- end }}
