service:
  image:
    version: inseefrlab/onyxia-rstudio:r4.2.3-gpu
    pullPolicy: IfNotPresent
    custom:
      enabled: false
      version: inseefrlab/onyxia-rstudio:r4.2.3-gpu
security:
  password: changeme
  networkPolicy:
    enabled: false
    from: []
  allowlist:
    enabled: false
    ip: 0.0.0.0/0
init:
  standardInitPath: /opt/onyxia-init.sh
  regionInit: ''
  personalInit: ''
  personalInitArgs: ''
environment:
  user: onyxia
  group: users
s3:
  enabled: true
  configMapName: ''
  accessKeyId: ''
  endpoint: ''
  defaultRegion: ''
  secretAccessKey: ''
  sessionToken: ''
vault:
  enabled: true
  configMapName: ''
  token: ''
  url: ''
  mount: ''
  secret: ''
  directory: ''
git:
  enabled: true
  configMapName: ''
  name: ''
  email: ''
  cache: ''
  token: ''
  repository: ''
  branch: ''
replicaCount: 1
imagePullSecrets: []
nameOverride: ''
fullnameOverride: ''
serviceAccount:
  create: true
  annotations: {}
  name: ''
kubernetes:
  enabled: true
  role: view
podAnnotations: {}
podSecurityContext:
  fsGroup: 100
securityContext: {}
networking:
  type: ClusterIP
  clusterIP: None
  service:
    port: 8787
  user:
    enabled: false
    port: 5000
  sparkui:
    port: 4040
ingress:
  enabled: false
  tls: true
  annotations: []
  hostname: chart-example.local
  userHostname: chart-example-user.local
route:
  enabled: false
  annotations: []
  hostname: chart-example.local
  userHostname: chart-example-user.local
  tls:
    termination: edge
  wildcardPolicy: None
resources: {}
persistence:
  enabled: true
  accessMode: ReadWriteOnce
  size: 10Gi
autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80
nodeSelector: {}
tolerations: []
affinity: {}
repository:
  configMapName: ''
  rRepository: ''
