global:
  suspend: false
service:
  initContainer:
    image: inseefrlab/onyxia-base:latest
    pullPolicy: IfNotPresent
  image:
    # EOStat image built and pushed to ECR via GitHub Actions
    version: 142496269814.dkr.ecr.us-west-2.amazonaws.com/onyxia-eostat:latest
    pullPolicy: IfNotPresent
    custom:
      enabled: false
      version: 142496269814.dkr.ecr.us-west-2.amazonaws.com/onyxia-eostat:latest
security:
  password: changeme
  networkPolicy:
    enabled: false
    from: []
  allowlist:
    enabled: false
    ip: 0.0.0.0/0
init:
  standardInitPath: /opt/onyxia-init.sh
  regionInit: ''
  personalInit: ''
  personalInitArgs: ''
# Additional init for eostat (runs after standard init)
eostat:
  enabled: true
  initScript: /opt/onyxia-eostat-init.sh
  repoUrl: "https://github.com/FAO-EOSTAT/UN-Handbook.git"
  repoBranch: "main"
  chapterName: "ct_chile"
extraEnvVars:
  - name: REPO_URL
    value: "https://github.com/FAO-EOSTAT/UN-Handbook.git"
  - name: REPO_BRANCH
    value: "main"
  - name: CHAPTER_NAME
    value: "ct_chile"
environment:
  user: onyxia
  group: users
s3:
  enabled: false
  secretName: ''
  accessKeyId: ''
  endpoint: ''
  defaultRegion: ''
  secretAccessKey: ''
  sessionToken: ''
  pathStyleAccess: false
  workingDirectoryPath: ''
vault:
  enabled: false
  secretName: ''
  token: ''
  url: ''
  mount: ''
  secret: ''
  directory: ''
git:
  enabled: false
  secretName: ''
  name: ''
  email: ''
  cache: ''
  token: ''
  repository: ''
  branch: ''
repository:
  configMapName: ''
  pipRepository: ''
  condaRepository: ''
discovery:
  hive: true
  mlflow: true
  metaflow: true
  chromadb: true
  milvus: true
  postgresql: true
hive:
  secretName: ''
mlflow:
  secretName: ''
metaflow:
  secretName: ''
chromadb:
  secretName: ''
milvus:
  secretName: ''
postgresql:
  secretName: ''
coresite:
  secretName: ''
replicaCount: 1
imagePullSecrets: []
nameOverride: ''
fullnameOverride: ''
serviceAccount:
  create: true
  annotations: {}
  name: ''
kubernetes:
  enabled: false
  role: view
podAnnotations: {}
podSecurityContext:
  fsGroup: 100
securityContext: {}
networking:
  type: ClusterIP
  clusterIP: None
  service:
    port: 8888
  sparkui:
    port: 4040
  user:
    enabled: false
    port: 5000
    ports: []
ingress:
  enabled: false
  tls: true
  ingressClassName: ''
  annotations: []
  hostname: chart-example.local
  userHostname: chart-example-user.local
  path: /
  userPath: /
  useCertManager: false
  certManagerClusterIssuer: ''
  useTlsSecret: false
  tlsSecretName: ''
route:
  enabled: false
  annotations: []
  hostname: chart-example.local
  userHostname: chart-example-user.local
  tls:
    termination: edge
  wildcardPolicy: None
resources: {}
persistence:
  enabled: false
  accessMode: ReadWriteOnce
  size: 10Gi
autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80
nodeSelector: {}
tolerations: []
affinity: {}
startupProbe:
  failureThreshold: 60
  initialDelaySeconds: 10
  periodSeconds: 10
  successThreshold: 1
  timeoutSeconds: 2
userPreferences:
  darkMode: false
  language: en
  aiAssistant:
    enabled: false
    modelProvider: ''
    embeddingsProvider: ''
    apiBase: ''
    apiKey: ''
    secretName: ''
openshiftSCC:
  enabled: false
  scc: ''
proxy:
  enabled: false
  noProxy: ''
  httpProxy: ''
  httpsProxy: ''
certificates: {}
message:
  fr: ''
  en: ''
