name: Lint and Test Charts

on:
  pull_request:
    branches:
    - main

jobs:
  lint-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Set up Helm
        uses: azure/setup-helm@v4
        with:
          version: v3.11.2

      - uses: actions/setup-python@v5
        with:
          python-version: '3.13'
          check-latest: true

      - name: Set up chart-testing
        uses: helm/chart-testing-action@v2.7.0

      - name: Run chart-testing (list-changed)
        id: list-changed
        run: |
          changed=$(ct list-changed --target-branch ${{ github.event.repository.default_branch }})
          if [[ -n "$changed" ]]; then
            echo "changed=true" >> "$GITHUB_OUTPUT"
          fi

      #https://github.com/helm/chart-testing/issues/192
      - name: Run chart-testing (lint)
        if: steps.list-changed.outputs.changed == 'true'
        run: ct lint --target-branch ${{ github.event.repository.default_branch }} --validate-maintainers=false

  changes:
    if: ${{ github.actor != 'renovate[bot]' }}
    runs-on: ubuntu-latest
    permissions:
      pull-requests: read
    outputs:
      charts: ${{ steps.filter.outputs.changes }}
    steps:
    - uses: dorny/paths-filter@v3
      id: filter
      with:
        filters: |
          jupyter-pyspark:
            - 'charts/jupyter-pyspark/**'
          jupyter-python:
            - 'charts/jupyter-python/**'
          jupyter-python-gpu:
            - 'charts/jupyter-python-gpu/**'
          jupyter-pytorch:
            - 'charts/jupyter-pytorch/**'
          jupyter-pytorch-gpu:
            - 'charts/jupyter-pytorch-gpu/**'
          jupyter-r:
            - 'charts/jupyter-r/**'
          jupyter-tensorflow:
            - 'charts/jupyter-tensorflow/**'
          jupyter-tensorflow-gpu:
            - 'charts/jupyter-tensorflow-gpu/**'
          rstudio:
            - 'charts/rstudio/**'
          rstudio-r-python-julia:
            - 'charts/rstudio-r-python-julia/**'
          rstudio-gpu:
            - 'charts/rstudio-gpu/**'
          rstudio-sparkr:
            - 'charts/rstudio-sparkr/**'
          vscode-python:
            - 'charts/vscode-python/**'
          vscode-python-gpu:
            - 'charts/vscode-python-gpu/**'
          vscode-pytorch:
            - 'charts/vscode-pytorch/**'
          vscode-pytorch-gpu:
            - 'charts/vscode-pytorch-gpu/**'
          vscode-r-python-julia:
            - 'charts/vscode-r-python-julia/**'
          vscode-tensorflow:
            - 'charts/vscode-tensorflow/**'
          vscode-tensorflow-gpu:
            - 'charts/vscode-tensorflow-gpu/**'
  unittest:
    needs: changes
    if: ${{ needs.changes.outputs.charts != '[]' && needs.changes.outputs.charts != '' }}
    strategy:
      matrix:
          # Parse JSON array containing names of all filters matching any of changed files
          # e.g. ['package1', 'package2'] if both package folders contains changes
        charts: ${{ fromJSON(needs.changes.outputs.charts) }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - name: helm unit test
        run: |
          echo "Changed chart folders:"
          echo "${{ matrix.charts }}"
          helm plugin install https://github.com/helm-unittest/helm-unittest.git
          helm dependency update charts/${{ matrix.charts }}
          helm unittest charts/${{ matrix.charts }} -f ../../tests/*.yaml
